{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <section class="text">
        <div class="textbox">
            <h1> Welcome to FitPulse</h1>
            <p> Track your progress, crush your goals, and unlock the healthier you!</p>
            <!--If the user is authenticated, the get started button redirects them to goal page, if they are not, it redirects them to the register page-->
            {% if current_user.is_authenticated %}
                <a class="hero-btn" href="{{url_for('goal')}}"> Get Started</a>
            {% else %}
                <a class="hero-btn" href="{{url_for('register')}}"> Get Started</a>
            {% endif %}
        </div>
    </section>

{% endblock %}