{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="{{url_for('passwordchange')}}" method="post">
    <div class="containerchange" style="background-color: #180101; min-height: 50vh; padding-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="headtext text-center mb-4">
                    <h1 class="mb-1">Change your password</h1>
                </div>
                <!-- asks the user to input current password-->
                <div class="form-group row mb-3">
                    <label for="oldpass" class="col-sm-4 col-form-label">Current Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" autocomplete="off" id="oldpass" name="oldpass" placeholder="Current Password">
                    </div>
                </div>
                <!-- asks the user to input their new password-->
                <div class="form-group row mb-3">
                    <label for="newpass" class="col-sm-4 col-form-label">New Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" autocomplete="off" id="newpass" name="newpass" placeholder="New Password">
                    </div>
                </div>
                <!-- asks the user to confirm their new password-->
                <div class="form-group row mb-3">
                    <label for="confirmpass" class="col-sm-4 col-form-label">Confirm New Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" autocomplete="off" id="confirmpass" name="confirmpass" placeholder="Confirm Password">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}